BasedOnStyle: Google
ColumnLimit: 100

SortIncludes: false

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
ReflowComments: false

PenaltyBreakAssignment: 1000
PenaltyBreakBeforeFirstCallParameter: 1000
BinPackArguments: false
