[submodule "glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
	shallow = true
[submodule "imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
	shallow = true
[submodule "assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp.git
	shallow = true
[submodule "stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
	shallow = true
[submodule "glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "space-glad"]
	path = libs/glad
	url = https://github.com/PottierLoic/space-glad
	shallow = true
[submodule "doxygen-awesome-css"]
	path = libs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/miniaudio"]
	path = libs/miniaudio
	url = https://github.com/mackron/miniaudio.git
