[submodule "libraries/GLEW"]
	path = libraries/GLEW
	url = https://github.com/Perlmint/glew-cmake
[submodule "libraries/ImGui"]
	path = libraries/ImGui
	url = https://github.com/SFML/imgui-sfml
[submodule "libraries/SFML"]
	path = libraries/SFML
	url = https://github.com/SFML/SFML